h1{
	text-align: center;
	margin-top: 5%
}
li {
margin-bottom: 10px;
float: left;
margin-left: 40px;
}
.band1{
height: 200px;
 }
 .band2{
height: 200px;
background-color: blue;
 }
 .band3{
height: 200px;
background-color: orange;
 }
.band4{
height: 200px;
background-color: yellow;
 }
 .band5{
height: 200px;
background-color: red;
 }
@media screen and (max-width: 768px){
.container {display: flex;
justify-content: space-around;
flex-wrap: wrap;}
div {width: 90%;
	margin-left: 5%;}
}
@media screen and (min-width: 768px){
.container {display: flex;
	justify-content: space-around;
	flex-wrap: wrap;}
.container div {width: 40%;}
.band1{background-color: green;}
.band5{display:none;}
}
 @media screen and (min-width: 1200px){
 .band2{margin-bottom: 15%;}
 .band3{margin-bottom: 15%;}
 .band5{display: block;
 z-index: 1;
position: relative;
bottom: 590px;}

 }